.bookmark-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #313131;
  margin: 19px 14px;
  border: 0;
  padding: 0;
  background-image: url(../../../images/moviesCard/flag-inactive.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bookmark-btn_is-added {
  background-color: #3DDC84;
  background-image: url(../../../images/moviesCard/flag-active.svg);
}

.bookmark-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: ease 0.2s
}

